<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<title>Search Bar</title>

<!--图标库-->
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css'>

<!--主要样式-->
<link rel="stylesheet" href="../static/css/style1.css">


</head>

<body>

  <div class="container">
  <form action="/form/" method="post">
    <div class="input-group">
      <input type="text" id="search" placeholder="Search..." autocomplete="off">
      <label for="search"><i class="fas fa-search"></i></label>
    </div>
    
    <div class="suggestion-list hidden">
    </div>
  </form>
  
  <div id="apps">
    <div class="app">
      <i class="fab fa-adobe"></i>
      <p>Adobe</p>
    </div>
    
    <div class="app">
      <i class="fab fa-android"></i>
      <p>Android</p>
    </div>
    
    <div class="app">
      <i class="fab fa-apple"></i>
      <p>Apple</p>
    </div>
    
    <div class="app">
      <i class="fab fa-aws"></i>
      <p>AWS</p>
    </div>
    
    <div class="app">
      <i class="fab fa-behance"></i>
      <p>Behance</p>
    </div>
    
    <div class="app">
      <i class="fab fa-bitcoin"></i>
      <p>Bitcoin</p>
    </div>
    
    <div class="app">
      <i class="fab fa-chrome"></i>
      <p>Chrome</p>
    </div>
    
    <div class="app">
      <i class="fab fa-codepen"></i>
      <p>Codepen</p>
    </div>
    
    <div class="app">
      <i class="fab fa-dribbble"></i>
      <p>Dribbble</p>
    </div>
    
    <div class="app">
      <i class="fab fa-docker"></i>
      <p>Docker</p>
    </div>
    
    <div class="app">
      <i class="fab fa-dropbox"></i>
      <p>Dropbox</p>
    </div>
    
    <div class="app">
      <i class="fab fa-drupal"></i>
      <p>Drupal</p>
    </div>
    
    <div class="app">
      <i class="fab fa-edge"></i>
      <p>Edge</p>
    </div>
    
    <div class="app">
      <i class="fab fa-firefox"></i>
      <p>Firefox</p>
    </div>
    
    <div class="app">
      <i class="fab fa-font-awesome"></i>
      <p>Font Awesome</p>
    </div>
    
    <div class="app">
      <i class="fab fa-github"></i>
      <p>Github</p>
    </div>
    
    <div class="app">
      <i class="fab fa-google"></i>
      <p>Google</p>
    </div>
    
    <div class="app">
      <i class="fab fa-google-drive"></i>
      <p>Google Drive</p>
    </div>
    
    <div class="app">
      <i class="fab fa-google-play"></i>
      <p>Google Play</p>
    </div>
    
    <div class="app">
      <i class="fab fa-google-plus"></i>
      <p>Google Plus</p>
    </div>
  </div>
</div>
  
  

    <script  src="../static/js/index.js"></script>




</body>

</html>
